.dispo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dispo-bis{
    display: flex;
    gap: 9%;
}

.dis{
    display: flex;
    flex-direction: row;
}