<div class="card">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col"><h4><b>Shopping Cart</b></h4></div>
                    <!-- <div class="col align-self-center text-right text-muted">3 items</div> -->
                </div>
            </div>  
            
            
            
            <div *ngFor="let cart of mesAchats$|async" class="row border-top border-bottom">
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" src="data:image/PNG;base64,{{cart.image}}"></div>
                    <div class="col">
                        <div class="row text-muted">{{cart.nom}}</div>
                    </div>
                    <div class="col">
                      {{cart|json}} -->
                        <span style="width: 40px; cursor:pointer" (click)="incrementOuDecrement(cart,-1);calculSomme()">-</span>
                        <a class="border">{{cart.quantite}}</a>
                        <span style="width: 40px; cursor:pointer" (click)="incrementOuDecrement(cart,1);calculSomme()">+</span>
                    </div>
                    <div class="col"> {{cart.prix * cart.quantite}}FCFA <span class="close"></span></div>
                    <div class="col"><span (click)="delete(cart);calculSomme()" style="cursor: pointer;" class="close">X</span></div>
                </div> 
            </div>


      
       
        
            <div class="back-to-shop"><a routerLink="/client">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
        </div>
        <div class="col-md-4 summary">
            <div><h5><b>Summary</b></h5></div>
            <hr>
           <!--- <div class="row">
                <div class="col" style="padding-left:0;">ITEMS 3</div>
                <div class="col text-right">&euro; 132.00</div>
            </div>
            <form>
                <p>SHIPPING</p>
                <select><option class="text-muted">Standard-Delivery- &euro;5.00</option></select>
                <p>GIVE CODE</p>
                <input id="code" placeholder="Enter your code">
            </form> -->
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">Prix Total</div>
                <div class="col text-right"> {{somme}}FCFA</div>
            </div>
            <button class="btn">CHECKOUT</button>
        </div>
    </div>    
</div>


