<div class="card mb-3" style="width: 19rem;">
    <img class="card-img-top" style="height: 10rem" src="data:image/PNG;base64,{{listCardVersCard.image}}">
    <div class="card-body">
      <h5 class="card-title">{{ listCardVersCard.prix }}F</h5>
      <p class="card-text">{{ listCardVersCard.nom }}</p>
      <small class="card-text">{{ listCardVersCard.description }}</small>
      <a routerLink="/client/details/{{listCardVersCard.id}}"class="btn btn-success tout">Details</a>
      <button class="colo btn-warning tout" (click)="addToCart(listCardVersCard,1)">Ajouter au panier</button>
    </div>
 </div>
