
<section class="vh-10" style="background-color:rgb(255, 230, 0);">
    <div class="container py-5 h-40">
      <div class="row d-flex justify-content-center align-items-center h-50">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="https://img.restaurantguru.com/w550/h367/rc4b-Brasil-Burger-Jarinu-burger.jpg"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                  <p class="text-danger">{{erroMessage}}</p>
  
                  <form #f="ngForm" (ngSubmit)="onSubmit()" >
  
  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Connectez vous à votre compte</h5>
  
                    <div class="form-outline mb-4">
                        <label class="form-label" for="login">Login</label>
                      <input name="login" type="login" id="login" class="form-control form-control-lg" [(ngModel)]="form.login" #login="ngModel" required>
                      <div class="form_error" *ngIf="login.invalid && f.submitted">
                        <div *ngIf="login.errors?.['required']">login obligatoire !</div>
                      </div>
                    </div>
  
                    <div class="form-outline mb-4">
                        <label class="form-label" for="password">Mot de Passe</label>
                        <input name="password" type="password" id="password" class="form-control form-control-lg" [(ngModel)]="form.password" #password="ngModel" required minlength="6"/>
                        <div *ngIf="password.invalid &&  f.submitted" class="form_error">
                          <div *ngIf="password.errors?.['required']">mot de passe obligatoire !</div>
                          <div *ngIf="password.errors?.['minlength']">le password doit avoir 6 caractères au minimum</div>
                        </div>
                    </div>
  
                    <div class="pt-1 mb-4">
                      <button class="btn btn-dark btn-lg btn-block" type="submit">Connexion</button>
                    </div>
  
                    <a class="small text-muted" href="#!">Forgot password?</a>
                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Vous n'avez pas de compte? <a href="#!"
                        style="color: #393f81;">Inscrivez-vous</a></p>
                  
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
